@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=PT+Serif+Caption&family=Patua+One&family=Roboto:wght@300;400;700&display=swap");
:root {
  font-size: 16px;
}

@media (min-width: 576px) and (max-width: 1000px) {
  :root {
    font-size: calc( 16px + (18 - 16) * ( (100vw - 576px) / ( 1000 - 576) ));
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 18px;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.span {
  grid-column: 1/-1;
}

.text-small {
  font-size: 0.8rem;
  font-weight: 300;
}

.text-danger {
  color: #b82925;
  font-weight: 700;
  font-size: 1.25rem;
}

.text-muted {
  background-color: hsl(0deg, 4%, 100%);
  color: hsl(0deg, 4%, 50%);
  font-weight: 300;
}

inline-text {
  display: inline-block;
}

/*removes default styles from a link that is part of another element */
.styled-link {
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  padding-inline: 0;
  outline: none;
  transition: none;
}
.styled-link:hover, .styled-link:focus {
  outline: none;
}

/* Default Styles - Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}

p::selection {
  background-color: #b82925;
  color: rgba(255, 255, 255, 0.99);
}

body {
  background: hsl(0deg, 4%, 100%);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  letter-spacing: 2px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
  font-family: "Lato", sans-serif;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

p + p {
  margin-block-start: 1em;
}

a {
  font-size: 1.1rem;
  font-weight: 700;
  color: hsl(345deg, 6%, 13%);
  text-decoration: none;
  outline: none;
  transition: outline 125ms ease-in;
}
a:hover, a:focus {
  outline: dashed #b82925 2px;
  outline-offset: 2px;
}

.image {
  width: 50%;
  float: left;
  margin-block-start: 1em;
  margin-inline-end: 1em;
  border: solid 1px hsl(0deg, 4%, 50%);
  box-shadow: 0 0.5rem 1rem rgba(35, 31, 32, 0.15);
}
.image img {
  max-width: 100%;
}
.image figcaption {
  display: none;
}

[class*=grid-] {
  display: grid;
  gap: 1em 2em;
}

.grid-section {
  grid-template-columns: 0.5em auto 0.5em;
}
.grid-section > * {
  width: min(100%, 60rem);
  margin-inline: auto;
  grid-column: 2/3;
}
.grid-even-columns {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.grid-three-columns {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.grid-stacked {
  grid-template-columns: auto 1fr;
}
.grid-stacked > * {
  grid-row: 1/2;
  grid-column: 1/3;
}

[class*=flex-] {
  display: flex;
  gap: 2em;
}

.flex-two-columns {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0em;
}
.flex-two-columns:nth-child(even) {
  flex-direction: row-reverse;
}
.flex-two-columns > * {
  flex: 1 1 25rem;
}

.section {
  padding-block: 4em;
  width: 100%;
}
.section:nth-child(even) {
  background-color: hsl(180deg, 3%, 94%);
  color: rgba(35, 31, 32, 0.99);
}
.section:nth-child(even) .element__title {
  background-color: inherit;
  color: inherit;
}
.section:first-of-type {
  padding-block-start: 2em;
}
.section--aboutBlock {
  row-gap: 2em;
}
.element__title {
  text-align: center;
}
.element__content {
  width: min(100%, 40rem);
  margin-inline: auto;
}

.btn {
  padding-inline: 1.25em;
  padding-block: 1em;
  background-color: #b82925;
  text-align: center;
  text-decoration: none;
  background-color: #b82925;
  color: rgba(255, 255, 255, 0.99);
  border-radius: 7px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: inherit;
  transform: scale(1);
  width: max-content;
  display: inline-block;
  position: relative;
  transition: all 125ms ease-in;
}
.btn:hover, .btn:focus {
  background: #631614;
  transform: scale(1.1);
}
.btn__cta {
  font-size: 1rem;
  background-color: transparent;
  border: solid hsl(0deg, 4%, 100%) 3px;
  font-weight: 700;
}
.btn__header {
  background-color: #b82925;
  color: rgba(255, 255, 255, 0.99);
  font-weight: 700;
}
.btn__submit {
  border: none;
}
.btn__back {
  margin-inline: auto 1em;
}

.header-wrapper {
  width: 100%;
  display: grid;
  gap: 1em;
}

.header {
  --header-font-size: 1rem;
  margin-inline: auto;
  padding-block-start: 1em;
  padding-inline: 1em;
  width: min(100%, 60rem);
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.header > * {
  flex: 1;
}
@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    gap: 0.25em;
  }
}
.header .logo {
  align-self: center;
  max-width: fit-content;
}
.header .logo img {
  width: 100%;
}
.header__logo {
  width: min(100%, 20em);
  height: auto;
  margin-inline: auto;
}
.header__link {
  text-decoration: none;
  font-size: var(--header-font-size);
  transition: all 125ms ease-in;
}
.header__link:hover, .header__link:focus {
  --header-font-size: 1.1rem;
  color: #d73d39;
  font-weight: 700;
}
.header__location,
.header .social {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header__location,
.header .social {
    display: block;
  }
}
.header__phone, .header__location,
.header .social {
  font-size: var(--header-font-size);
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .header__phone, .header__location,
.header .social {
    --header-font-size: .9rem;
  }
}
.header .social {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.header .social > * {
  --header-font-size: 2rem;
}
.header .social > *:hover, .header .social > *:focus {
  color: #b82925;
  --header-font-size: 2.1rem;
}

.nav-toggle, .toggle {
  position: absolute;
  top: -999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  margin: 0;
  cursor: pointer;
  height: 60px;
  text-align: left;
  padding-inline-end: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0.25em;
  z-index: 1000;
}
@media only screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  width: calc(60px/ 2);
  height: 2px;
  border-radius: 7px;
  background: hsl(0deg, 4%, 100%);
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  transition: transform 125ms ease;
}
.nav-toggle-label span::before {
  top: 10px;
}
.nav-toggle-label span::after {
  top: -10px;
}

.nav.scroll * label > span,
.nav.scroll * label > span::before,
.nav.scroll * label > span::after {
  background-color: hsl(0deg, 4%, 100%);
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}

.nav.scroll * .nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent !important;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: rotate(135deg);
  top: 0px;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: rotate(-135deg);
  top: 0px;
}

/* Navigation Styles w/sub navigation dropdown and responsive toggles */
.navbar {
  background-color: hsl(231deg, 58%, 37%);
  height: 60px;
  position: relative;
  z-index: 1001;
}
@media only screen and (min-width: 768px) {
  .navbar {
    height: auto;
  }
}
.navbar .nav {
  margin: 0;
  padding: 0;
  background-color: #3247bd;
  text-align: center;
  transform: scaleY(0);
  opacity: 0;
  transition: transform all 0.2s ease-in;
  transform-origin: top;
}
@media only screen and (min-width: 768px) {
  .navbar .nav {
    background: unset;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transform: scaleY(1);
    opacity: 1;
    position: static;
    width: auto;
  }
}
.navbar .nav-link {
  padding-block: 0;
  list-style: none;
  width: 100%;
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  border-bottom: solid hsl(180deg, 3%, 94%) 1px;
}
@media only screen and (min-width: 768px) {
  .navbar .nav-link {
    padding-inline: 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    width: auto;
    border: none;
  }
}
.navbar .nav-link a {
  padding-inline: 1rem;
  padding-block: 1rem;
  text-decoration: none;
  color: hsl(0deg, 4%, 100%);
  display: block;
}
.navbar .nav-link a:hover {
  background-color: #121a44;
}
.navbar .nav-link--link {
  background-color: transparent;
}

.hero .navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* Toggle States */
.toggle:checked ~ .subnav {
  transform: scaleY(1);
  opacity: 1;
  height: auto;
}

.nav-toggle:checked ~ .nav {
  transform: scaleY(1);
  opacity: 1;
  min-height: calc(100vh - 60px);
  height: auto;
}

.pagination {
  margin-block: 2rem 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination * + * {
  margin: 0;
  padding: 0;
}
.pagination .page-link {
  border-top: solid 1px rgba(var(--clr-primary-rgb), 50%);
  border-bottom: solid 1px rgba(var(--clr-primary-rgb), 50%);
  border-right: solid 1px rgba(var(--clr-primary-rgb), 50%);
  background: hsl(0deg, 4%, 100%);
}
.pagination .page-link:first-child {
  border-left: solid 1px rgba(var(--clr-primary-rgb), 50%);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.pagination .page-link:last-child {
  border-right: solid 1px rgba(var(--clr-primary-rgb), 50%);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.pagination .page-link a {
  padding: 0.5rem;
  text-decoration: none;
  color: hsl(231deg, 58%, 37%);
  display: block;
  transition: all 250ms ease;
}
.pagination .page-link a:hover {
  background: rgba(40, 56, 149, 0.5);
  color: hsl(0deg, 4%, 100%);
}
.pagination .page-link a:hover a {
  color: hsl(0deg, 4%, 100%);
}
.pagination .page-link.disabled a {
  color: hsl(180deg, 3%, 94%);
  cursor: default;
  pointer-events: none;
}
.pagination .page-link.disabled:hover {
  background: hsl(0deg, 4%, 100%);
}
.pagination .page-link.disabled:hover a {
  color: hsl(180deg, 3%, 94%);
}
.pagination .page-link.active {
  background: hsl(231deg, 58%, 37%);
  color: hsl(0deg, 4%, 100%);
  pointer-events: none;
}
.pagination .page-link.active a {
  color: hsl(0deg, 4%, 100%);
}

.footer {
  margin-block-start: auto;
  background-color: hsl(231deg, 58%, 37%);
}
.footer a {
  text-decoration: none;
  color: hsl(180deg, 3%, 94%);
  font-weight: 400;
}
.footer a:hover {
  color: #b82925;
}
.footer p {
  margin: 0;
  padding: 0;
}
.footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-social {
  font-size: 1.3rem;
  text-align: left;
}
.footer-social > * {
  display: flex;
  gap: 1rem;
}
.footer-title {
  font-family: "Roboto", sans-serif;
  margin: 0;
  margin-block-end: 0.25rem;
  padding: 0;
  font-size: 1rem;
}
.footer-about {
  text-align: center;
}
.footer .footer1 {
  margin-inline: auto;
  padding-block: 1em;
  font-size: 0.9rem;
  background-color: hsl(231deg, 58%, 37%);
  color: hsl(0deg, 4%, 100%);
  width: min(100% - 1em, 60rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 0.75em;
  grid-auto-flow: dense;
}
.footer .footer1 > * {
  background-color: #3247bd;
  padding: 0.75em;
  border-radius: 7px;
}

.footer2 {
  width: 100%;
  background-color: #121a44;
  color: hsl(0deg, 4%, 100%);
  padding-block: 1em;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.cards {
  gap: 2em;
}

.card {
  background-color: hsl(0deg, 4%, 100%);
  color: rgba(35, 31, 32, 0.99);
  text-decoration: none;
  box-shadow: 0 0 25px rgba(35, 31, 32, 0.25);
  border-radius: 7px;
  overflow: hidden;
}
.card-inner {
  list-style: none;
}
.card__image img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
  filter: brightness(90%);
  transition: filter 125ms ease-in;
}
.card__image img:hover {
  filter: brightness(100%);
}
.card__title {
  padding-inline: 1em;
  padding-block-start: 1em;
  padding-block-end: 1em;
  background-color: hsl(180deg, 3%, 94%);
  color: rgba(35, 31, 32, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__title h3 {
  background-color: hsl(180deg, 3%, 94%);
  color: rgba(35, 31, 32, 0.99);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1;
}
.card__text {
  padding-inline: 1em;
  padding-block: 1em;
  font-size: 0.9rem;
  font-weight: 300;
}

.contact-form {
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.contact-form p {
  grid-column: 1/-1;
  text-align: left;
  font-weight: 400;
  border-radius: 7px;
  box-shadow: 0 0 25px rgba(35, 31, 32, 0.25);
  font-size: 1.3rem !important;
  border: solid #286f95 0.25em;
  background-color: hsl(180deg, 3%, 94%);
  color: rgba(35, 31, 32, 0.99);
  padding: 1em;
}
@media only screen and (min-width: 768px) {
  .contact-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

::placeholder {
  color: rgba(109, 118, 126, 0.75);
}

.input-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
}

/* Add styles to 'label' selector */
label {
  font-size: 1.2em;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding-block: 0.75em;
  padding-inline: 1em;
  border: 1px solid hsl(0deg, 4%, 50%);
  background-color: hsl(0deg, 4%, 100%);
  border-radius: 7px;
  grid-column: 2/3;
  font-size: 1rem;
  transition: all 125ms ease-in-out;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: 2px dashed #b82925;
  outline: none;
}

.contact-info {
  height: auto;
  padding-inline: 1em;
  padding-block: 1em;
  padding-block-start: 2em;
  margin-block: 2em;
  border-radius: 7px;
  box-shadow: 0 0.5rem 1rem rgba(35, 31, 32, 0.15);
  background-color: hsl(180deg, 3%, 94%);
  border: solid rgba(239, 240, 240, 0.5) 1px;
}
.contact-info__content {
  margin-block: 2em;
}

.video-container {
  margin-block-start: 1em;
  max-width: 60rem;
  position: relative;
}
.video-container::before {
  content: "";
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section--galleryBlock img {
  border-radius: 7px;
  box-shadow: 0 0 25px rgba(35, 31, 32, 0.25);
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.hero {
  --hero-height: 80vh;
  --hero-min-height: 27em;
  height: min(var(--hero-height), var(--hero-min-height));
  position: relative;
  z-index: 100;
}
@media only screen and (min-width: 768px) {
  .hero {
    --hero-min-height: 800px;
  }
}
.hero__overlay {
  position: absolute;
  inset: 0;
  z-index: 101;
}
.hero__content {
  width: min(100% - 1em, 60ch);
  margin-inline: auto;
  padding-block: 2em;
  text-align: center;
  color: hsl(0deg, 4%, 100%);
  display: flex;
  gap: 0.25em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 102;
}
.hero__content-title {
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .hero__content-title {
    font-weight: 700;
  }
}
.hero__image {
  width: 100vw;
  height: min(var(--hero-height), var(--hero-min-height));
}
.hero__image img {
  width: 100vw;
  height: min(var(--hero-height), var(--hero-min-height));
  object-fit: cover;
  z-index: 100;
}
.hero .btn {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hero .btn {
    margin-block-start: 1em;
    display: inline-block;
  }
}

.imageElement img {
  aspect-ratio: 16/9;
  object-fit: cover;
  min-height: 100%;
  border-radius: 7px;
  box-shadow: 0 0 25px rgba(35, 31, 32, 0.25);
  margin-block-end: 1em;
}
.imageElement .element__content {
  margin-block-end: 1em;
  margin-block-start: 1em;
}

.aboutElement > * {
  margin-block-start: 1em;
}
.aboutElement .element__title + p {
  margin-block-start: 1em;
}

.service {
  background-color: hsl(0deg, 4%, 100%);
  color: rgba(35, 31, 32, 0.99);
  padding: 1em;
  border-radius: 7px;
  box-shadow: 0 0 25px rgba(35, 31, 32, 0.25);
}
.service__title {
  text-align: center;
}
.service__content {
  margin-block-start: 1em;
}
.service__icon {
  height: 4.5em;
  width: 4.5em;
  border-radius: 14px;
  margin-inline: auto;
  margin-block-start: 1.5em;
  margin-block-end: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  background-color: #a2ade6;
  color: #3247bd;
  border: #3247bd 1px solid;
}
.service__icon .fas {
  transform: rotate(-45deg);
}

.militaryElement__image {
  width: min(100%, 60rem);
  z-index: -1;
  border-radius: 7px;
  box-shadow: 0 0 25px rgba(35, 31, 32, 0.25);
  overflow: hidden;
}
.militaryElement__image img {
  width: min(100%, 60rem);
  min-height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.militaryElement__content {
  padding: 2em;
  align-self: center;
  justify-self: center;
  width: min(100%, 40rem);
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 7px;
  box-shadow: 0 0 25px rgba(35, 31, 32, 0.25);
}

.testimonials .element__title,
.testimonials .element__content {
  grid-column: 1/-1;
}

.testimonial {
  box-shadow: 0 0.5rem 1rem rgba(35, 31, 32, 0.15);
  background-color: hsl(0deg, 4%, 100%);
  color: rgba(35, 31, 32, 0.99);
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
}
.testimonial img {
  aspect-ratio: 16/9;
  object-fit: cover;
}
.testimonial__body {
  padding-inline: 0.5em;
  padding-block-start: 1em;
  padding-block-end: 2em;
  height: 100%;
}
.testimonial__body > * + * {
  margin-block-start: 1em;
}
.testimonial__credit {
  margin-block-start: auto;
  padding: 1em;
  background-color: hsl(180deg, 3%, 94%);
  color: rgba(35, 31, 32, 0.99);
  text-align: center;
}
.testimonial__name {
  font-weight: 400;
  color: hsl(0deg, 4%, 50%);
  margin: 0;
  line-height: 1;
  line-height: 1;
}
.testimonial__name::after {
  content: "";
  display: block;
  margin: 0.5em auto;
  background: rgba(133, 122, 122, 0.25);
  background: linear-gradient(left, rgba(133, 122, 122, 0.25) 0%, rgba(133, 122, 122, 0.25) 10%, rgba(133, 122, 122, 0.25) 50%, rgba(133, 122, 122, 0.25) 90%, rgba(133, 122, 122, 0.25) 100%);
  height: 1px;
  width: 20%;
}
.testimonial__name hr {
  border: 0;
  height: 2px;
  position: relative;
  background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%); /* W3C */
}
.testimonial__name hr:before {
  content: "";
  display: block;
  border-top: solid 1px #f9f9f9;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.testimonial__date {
  font-weight: 300;
  font-size: 0.8rem;
  color: hsl(208deg, 7%, 46%);
  margin: 0;
  line-height: 1;
}

/*# sourceMappingURL=main.css.map */
