.header {
  padding-inline: 1em;
  padding-block : 1em;
  text-align    : center;
  @include dc(color(primary));

  display        : flex;
  flex-direction : column;
  gap            : 1rem;
  align-items    : center;
  justify-content: center;

  // media query for header 
  @include mq(small) {
    padding-block: 1em;
    width: min(100%, 60rem);
    margin-inline: auto; 

    flex-direction : row;
    justify-content: space-between;

  }

  // Header Logo
  .logo {
    font-size: 2rem;

    //media query for header logo
    @include mq(small) {
      font-size: 1rem;
    }
  }

  // All href within header
  a {
    text-decoration: none;
    color          : inherit;
    &:hover, &:focus {
      color: color(accent-light);
    }
  }

  // All Meta Blocks 
  .phone,
  .location,
  .social,
  .contact {
    font-size: 1rem;
    @include mq(small){
      font-size: .8rem;
    }
  }

  .contact {
    padding-block: .35em;
    
    &:hover, &:focus {
      color: neutral(1);
    }
  }

  .social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
    font-size: 1.25rem;
    @include mq(small){
      font-size: 1rem;
    }
  }
  

}
.header-wrapper { 
  width: 100%; 
  background-color: color(primary);
}