/* Navigation Styles w/sub navigation dropdown and responsive toggles */

.navbar {
  background-color   : var(--clr-accent);
  min-height         : var(--nav-height);
  max-height      : var(--nav-height);

  position: relative;
  z-index : 1001;

  .nav {
    margin          : 0;
    padding         : 0;
    background-color: lighten($clr-primary, 10%);
    text-align      : center;

    transform       : scaleY($scale); //Set to zero for animation
    opacity         : $scale; //Set to zero for animation
    transition      : transform .2s ease, opacity 250ms ease-out;
    transform-origin: top;

    @include mq(small) {
      background     : unset;
      display        : flex;
      flex-flow      : row nowrap;
      justify-content: center;


      transform: scaleY(1); //Scale set to 1 for desktop navigation
      opacity  : 1; //Opacity set to 1 for desktop navigation
      position : static; //Position static for desktop navigation
      width    : auto; //Width Auto to break subnav outside of parent
    }

    &-link {
      padding-block : 0;
      list-style    : none;
      width         : 100%;
      position      : relative;
      font-size     : 1.5rem;
      font-weight   : $fw-l;
      letter-spacing: var(--ls);
      border-bottom : solid $clr-grey-light 1px;
      min-height: var(--nav-height);

      @include mq(small) {
        padding-inline: .5rem;
        height        : calc(#{$nav-height} / 2);
        line-height   : calc(#{$nav-height} / 2);
        font-size     : 1rem;
        width         : auto;
        border        : none;
      }

      a {
        padding-inline : 1rem;
        padding-block  : 1rem;
        height         : var(--nav-height);
        text-decoration: none;
        color          : gray(1);
        display        : block;

        &:hover {
          background-color: var(--clr-primary-dark);
        }
      }
    }

  }
}

// Navbar w/Hero
.hero {
  .navbar {
    background-color: transparent;
    position        : absolute;
    top             : 0;
    right           : 0;
    left            : 0;
  }
}





/* Toggle States */
.toggle:checked~.subnav {
  transform: scaleY(1);
  opacity  : 1;
  height   : auto;
 
}

.nav-toggle:checked~.nav {
  transform : scaleY(1);
  opacity   : 1;
  min-height: calc(100vh - 60px);
}