.btn {
  padding-inline: 2em;
  padding-block : 1em;

  color          : neutral(1);
  border-color   : neutral(1);
  letter-spacing : $ls;
  text-align     : center;
  text-decoration: none;
  cursor         : pointer;
  font-size      : .75rem;
  font-weight    : $fw-b;
  background     : none;
  border         : 2px solid neutral(1);
  overflow       : hidden;
  font-family    : inherit;
  text-transform : uppercase;
  border-radius  : $br;

  display: inline-block;

  position: relative;

  transition: all 125ms ease-in-out;

  &:hover {
    background: color(accent);
  }
&__cta {

  font-size: 1rem;
  &:hover {
    color: neutral(1);
  }
  }
}
