/* Default Styles - Global */

html {
  scroll-behavior: smooth;
  
}

html,
body {
  width     : 100vw;
  height    : 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}


body {
    background: neutral(1);
    font-family: $ff-sans-body;
    font-size: 1rem;
    line-height: 1.6;

    display: flex;
    flex-direction: column;

    // > 576px
    @include mq(xs){
   
    }
    // > 850px
    @include mq(small){
    
    }
    // > 990px
    @include mq(medium){
  
    }
    // > 1500px
    @include mq(big){

    }
}

h1, h2, h3, h4, h5 {
   font-family: $ff-sans-headings;
   line-height: 1.1;
   letter-spacing: $ls;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
  margin-block-start: 1rem;
}
figcaption {
  color: neutral(4);
  font-size: .8rem;
  padding-block-start: .5em;
  font-style: italic;
}