/* Default Styles - Global */

html {
  scroll-behavior: smooth;
}

html,
body {
  width     : 100vw;
  height    : 100vh;
  min-height: 100vh;
}


body {
    background: var(--clr-bg);
    font-family: $ff-sans-body;
    line-height: 1.6;
}

h1, h2, h3, h4, h5 {
   font-family: var(--ff-sans-headings);
   line-height: 1.1;
}