/* Default Styles - Global */

html {
  scroll-behavior: smooth;
  
}

html,
body {
  width     : 100vw;
  height    : 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}


body {
    background: var(--clr-bg);
    font-family: $ff-sans-body;
    line-height: 1.6;

    display: flex;
    flex-direction: column;

    // > 576px
    @include mq(xs){
   
    }
    // > 850px
    @include mq(small){
    
    }
    // > 990px
    @include mq(medium){
  
    }
    // > 1500px
    @include mq(big){

    }
}

h1, h2, h3, h4, h5 {
   font-family: var(--ff-sans-headings);
   line-height: 1.1;
}
p {
  margin-block-start: 1rem;
}
