// Grid Layout

[class*="grid-"] {
    display: grid;
    gap    : calc($spacer * 2);
}

.grid- {
 
   &even-columns {
   
   }
    &section {
        grid-template-columns: minmax($spacer, 1fr) auto minmax($spacer, 1fr);
        gap                  : 0;

        >* {
            grid-column  : 2 / 3;
            width        : min(100%, $max-container-width);
            margin-inline: auto;
        }
    }

    &three-columns {
        grid-template-columns: repeat(3, 1fr);
            }

    &testimonials {
        grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
        margin-block-start: calc($spacer * 2);
        gap: $spacer;
    }
    &stacked-layers {
        >* {
            grid-column: 1 / 2;
        }
       
    }
}

// Section Layout
.section {
    padding-block: calc($spacer * 5);
    width        : 100%;

    &:nth-child(even) {
        background: neutral(2);

        .element__title {
            background-color: inherit;
            color           : inherit;
        }
    }

    &:first-of-type {
        margin-block-start: 0;
    }

    &--textBlock {
        >* {
            width: min(100%, $narrow-container-width);
        }
    }

    &--aboutBlock {
        row-gap: calc($spacer * 5);
    }

}

// Offset Column layout
.offset-columns {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    gap           : calc($spacer * 2);

    &:nth-child(even) {
        flex-direction: row-reverse;
    }

    >* {
        flex-grow : 1;
        flex-basis: calc((50rem - 100%) * 999);
    }
}

.column-wide {
    // flex: 2;

    >*+* {
        margin-block-start: $spacer;
    }
}

.column-narrow {
    color: neutral(4);

    >*+* {
        margin-block-start: $spacer;

    }
}

// Element Specific Styles

.element {
    &__content {
        width: min(100%, $narrow-container-width);
        margin-inline: auto;
        background: pink;
    }
}