// Grid Layout

[class*="grid-"] {
    display: grid;
    gap    : 1em;
}

.grid- {
    &offset-columns {
        grid-template-columns: 1fr min(100%, $narrow-container-width);
        align-items          : flex-start;
    }

    &even-columns {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    &section {
        grid-template-columns: 1px auto 1px;


        >* {
            grid-column  : 2 / 3;
            width        : min(100%, $max-container-width);
            margin-inline: auto;

        }
    }
}

// Section Layout
.section {
    padding-block: calc($spacer * 5);
    width        : 100%;

    &:nth-child(even) {
        background: neutral(2);
    }

    &:first-of-type {
        margin-block-start: 0;
    }

    // &--imageBlock {}

    // &--contactBlock {}

    // &--collectionBlock {}

    &--textBlock {
        >* {
            width: min(100%, $narrow-container-width);
        }
    }

    // &--galleryBlock {}

    // &--embeddedBlock {}

    &--aboutBlock {
        gap: calc($spacer * 5);
    }
}

// Offset Column layout


.offset-columns {
    display  : flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap      : calc($spacer * 2);
    &:nth-child(even){
        flex-direction: row-reverse;
    }

    >* {
        flex-grow : 1;
        flex-basis: calc((50rem - 100%) * 999);
    }
}


.column-wide {
    flex: 2;

    >*+* {
        margin-block-start: 1em;

    }

}

.column-narrow {

    color: neutral(4);

    // font-weight: $fw-l;
    >*+* {
        margin-block-start: 1em;

    }
}

// Element Specific Styles

.element {
    &__content {
        width: min(100%, $narrow-container-width);
    }
}