 // Embedded element like videos or iframes

 .video-container {
   margin-block-start: $spacer;
   max-width: $max-container-width;

   position : relative;

   &::before {
     content       : '';
     display       : block;
     position      : relative;
     padding-bottom: 56.25%;
   }
 }

 .video-container iframe,
 .video-container object,
 .video-container embed {
   position: absolute;
   top     : 0;
   left    : 0;
   width   : 100%;
   height  : 100%;
 }