// Hero style
.hero {
  --hero-height       : 85vh;
  --hero-min-height   : 100%;
  height              : min(var(--hero-height), var(--hero-min-height));
  position            : relative;
  z-index             : 100;
  // font-size        : 2rem;

  @include mq(small) {
    --hero-height    : 100%;
    --hero-min-height: 800px;
  }

  @include mq(big) {
    --hero-height    : 80vh;
    --hero-min-height: 2000px;
  }

  &__overlay {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    z-index : 101;
  }

  &__content {
    width        : min(100% - $spacer, 60ch);
    margin-inline: auto;
    padding-block: calc($spacer * 2);
    // background: pink;
    text-align   : center;
    color        : neutral(1);

    display        : flex;
    gap            : calc($spacer / 4);
    flex-direction : column;
    align-items    : center;
    justify-content: center;

    position: absolute;
    inset   : 0;
    z-index : 102;

    &-title {
      line-height: 1;
      font-size  : 3rem;
      font-weight: $fw-b;

      @include mq(small) {
        font-weight: $fw-b;
      }
    }

  }

  &__image {
    width : 100vw;
    height: min(var(--hero-height), var(--hero-min-height));

    img {
      width     : 100vw;
      height    : min(var(--hero-height), var(--hero-min-height));
      object-fit: cover;
      z-index   : 100;
    }
  }

  .btn {
    display: none;

    @include mq(small) {
      display: inline-block;
    }
  }

}