 // Image Element
 .imageElement {
   &__image {
     max-height: 450px;

     img {
       aspect-ratio : 16 / 9;
       border-radius: $br;
       box-shadow   : $bs;
       width        : 100%;
       height       : min(100%, 450px);
       object-fit   : cover;
     }
   }

  //  &__content {}
 }