.service {
    background: neutral(1);
    padding: $spacer;
    box-shadow: $bs-1;
    border-radius: $br;

    position: relative;
    &__header {
        display: flex;
        gap: $spacer;
    }
    &__title {
        text-align: center;
        font-size: 1.3rem;
    }
    &__content {
        font-size: .8rem;
        color: neutral(4);
        line-height: 1.3;
        text-align: center;
    }
    .fas {
        font-size: 1.3em;
        position: absolute;
    }
}