/* 
    CSS VARIABLES 

    DO NOT CHANGE THE VARIABLE NAME INSIDE OF THE :ROOT.
    IF YOU ARE USING SASS, CHANGE THE PROPERTY IN THE _THEME.SCSS
    PARTIAL FILE.

    IF YOU ARE USING CSS ONLY, CHANGE THE PROPERTY OF THE VARIABLE 
    INSIDE THE MAIN.CSS AND LOGIN.CSS FILES.

    THE -RGB IS THE RED/GREEN/BLUE IDENTIFIER OF THE COLOR IT
    REPRESENTS. THIS IS USED FOR COLORS THAT USE AN ALPHA CHANNEL.
    IF YOU UPDATE A BASE COLOR, YOU SHOULD ALSO FIND THE RGB VALUE AND REPLACE
    THE 3 NUMBERS. THERE ARE TOOLS IN CODE EDITORS FOR THIS, OR IT IS EASILY
    GOOGLED.

    IE 

    --CLR-PRIMARY: #336699; // == RGB(51, 102, 153)
    --CLR-PRIMARY-RGB: 51,102,153;

*/
/* Color Theme */
/* Color base */
/* Color RGB Components */
:root {
  --clr-primary: #283995;
  --clr-primary-rgb: 40, 57, 149;
  --clr-primary-dark: #1d2a6d;
  --clr-primary-dark-rgb: 29, 42, 109;
  --clr-primary-light: #5266d1;
  --clr-primary-light-rgb: 82, 102, 209;
  --clr-secondary: #285d95;
  --clr-secondary-rgb: 40, 93, 149;
  --clr-accent: #b82925;
  --clr-accent-rgb: 184, 41, 37;
  --clr-accent-dark: #8e201c;
  --clr-accent-rgb: 142, 32, 28;
  --clr-accent-light: #e06763;
  --clr-accent-rgb: 224, 103, 99;
  --clr-dark-text: #333333;
  --clr-dark-text-rgb: 51, 51, 51;
  --clr-white: white;
  --clr-white-rgb: 255, 255, 255;
  --clr-black: #333333;
  --clr-black-rgb: 51, 51, 51;
  --clr-grey-dark: #5c5c5c;
  --clr-grey-dark-rgb: 92, 92, 92;
  --clr-grey-medium: #9e9e9e;
  --clr-grey-medium-rgb: 158, 158, 158;
  --clr-grey-light: #f2f2f2;
  --clr-grey-light-rgb: 242, 242, 242;
  /* Default Element Styles */
  --bs: 0 0 25px rgba(51, 51, 51, 0.25);
  --bs-1: 0 10px 25px rgba(51, 51, 51, 0.25);
  --bs-2: 0 20px 40px -15px rgba(51, 51, 51, 0.25);
  --bsh: 0px 0px 10px 2px rgba(51, 51, 51, 0.15);
  --br: 3px;
  --ls: 2px;
  --ts: 0 2px 5px rgba(51, 51, 51, 0.18);
  --section-margin: 0rem;
  --spacer: 2em;
  /*  Navigation Styles */
  --nav-height: 60px;
  --nav-bg: #283995;
  --nav-bg-opacity: 0;
  --nav-text: white;
  --nav-hover: #b82925;
  --nav-accent: #b82925;
  /* Layout Variables */
  --max-width: 1200px;
  /* Font Families */
  --ff-serif: PT Serif, serif;
  --ff-sans-body: Open Sans, sans-serif;
  --ff-sans-headings: Montserrat, sans-serif;
  /* Font Weights */
  --fw-l: 300;
  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 700;
}

:root {
  font-size: 14px;
}

@media (min-width: 576px) and (max-width: 1000px) {
  :root {
    font-size: calc( 14px + (18 - 14) * ( (100vw - 576px) / ( 1000 - 576) ));
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 18px;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.span {
  grid-column: 1/-1;
}

.text-small {
  font-size: 0.8rem;
  font-weight: var(--fw-l);
}

/* Default Styles - Global */
html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background: var(--clr-bg);
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}
h1, h2, h3, h4, h5 {
  font-family: var(--ff-sans-headings);
  line-height: 1.1;
}

p {
  margin-block-start: 1rem;
}

.container {
  --max-width: 60rem;
  --padding: var(--spacer);
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
  padding-block: var(--spacer);
}

.btn {
  padding-inline: 2em;
  padding-block: 1em;
  color: white;
  border-color: white;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: var(--fw-b);
  background: none;
  border: 2px solid white;
  overflow: hidden;
  font-family: inherit;
  text-transform: uppercase;
  border-radius: var(--br);
  display: inline-block;
  position: relative;
  transition: all 125ms ease-in-out;
}
.btn:hover {
  background: var(--clr-accent);
}
.btn__cta {
  font-size: 1rem;
}
.btn__cta:hover {
  color: white;
}

.cards {
  margin-block-start: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  list-style: none;
}
.cards a:hover {
  color: inherit;
}

.card {
  height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image img {
  height: 175px;
  object-fit: cover;
}
.card__title {
  padding: 1rem;
  background: var(--clr-primary-light);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__title h3 {
  font-family: var(--ff-sans);
  color: white;
  font-size: 1.3rem;
  font-weight: var(--fw-l);
  line-height: 1.2;
}
.card__text {
  padding-inline: 1rem;
  padding-block-end: 1rem;
  flex: 1 1 auto;
}
.card:hover .card__image {
  filter: contrast(100%);
}

.contact-form {
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media only screen and (min-width: 768px) {
  .contact-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

::placeholder {
  color: rgba(var(--clr-grey-dark-rgb), 0.75);
}

.input-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
}

/* Add styles to 'label' selector */
label {
  font-size: 1.2em;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding-block: 0.75em;
  padding-inline: 1em;
  border: 1px solid var(--clr-grey-medium);
  border-radius: var(--br);
  grid-column: 2/3;
  font-size: 1rem;
  transition: all 125ms ease-in-out;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: 2px dashed var(--clr-accent);
  outline: none;
}

.video-container {
  margin-block-start: 1rem;
  padding-block-start: 30px;
  padding-block-end: 56.25%;
  position: relative;
  height: 0;
  overflow: hidden;
  object-fit: cover;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-wrapper {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}
.gallery-wrapper .gallery-img {
  margin-block-start: 0;
}
.gallery-wrapper .gallery-img img {
  border-radius: var(--br);
  box-shadow: var(--bs);
  height: 250px;
  object-fit: cover;
}

.hero {
  --hero-height: 75vh;
  --hero-min-height: 100%;
  height: min(var(--hero-height), var(--hero-min-height));
  position: relative;
  z-index: 100;
  font-size: 2rem;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}
.hero__content {
  width: min(100% - var(--spacer), 60ch);
  margin-inline: auto;
  text-align: center;
  color: var(--clr-white);
  display: flex;
  gap: calc(var(--spacer) / 4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 102;
}
.hero__content-title {
  line-height: 1;
  font-size: 3rem;
  font-weight: var(--fw-l);
}
@media only screen and (min-width: 768px) {
  .hero__content-title {
    font-weight: var(--fw-b);
  }
}
.hero__image {
  width: 100vw;
  height: min(var(--hero-height), var(--hero-min-height));
}
.hero__image img {
  width: 100vw;
  height: min(var(--hero-height), var(--hero-min-height));
  object-fit: cover;
  z-index: 100;
}
.hero .btn {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hero .btn {
    display: inline-block;
  }
}

.imageElement__image {
  max-height: 450px;
}
.imageElement__image img {
  border-radius: var(--br);
  box-shadow: var(--bs-1);
  max-height: 450px;
  object-fit: cover;
}
.imageElement__content {
  margin-block-start: 1rem;
}

.pageMedia {
  margin-block-start: 1rem;
}
.pageMedia img {
  border-radius: var(--br);
  box-shadow: var(--bs-1);
  max-height: 450px;
  object-fit: cover;
}

.imageElement__image + .imageElement__content {
  margin-block-start: 2rem;
}

.header {
  padding-inline: 1rem;
  padding-block: 1rem;
  background-color: var(--clr-primary);
  color: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header .logo {
    font-size: 1rem;
  }
}
.header a {
  color: #f2f2f2;
  text-decoration: none;
}
.header .location,
.header .phone {
  font-size: 0.9rem;
  font-weight: var(--fw-l);
}
.header .meta-details {
  margin-inline-start: auto;
  display: flex;
  gap: calc(var(--spacer) / 4);
  color: #f2f2f2;
  display: flex;
  gap: 1em;
}
.header .social {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header .social {
    margin-inline-start: auto;
  }
}
.header .social i {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}

.nav-toggle, .toggle {
  position: absolute;
  top: -999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  margin: 0;
  cursor: pointer;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: calc(var(--spacer) / 4);
  z-index: 1000;
}
@media only screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  width: calc(var(--nav-height)/ 2);
  height: 2px;
  border-radius: 3px;
  background: white;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  transition: transform 125ms ease;
}
.nav-toggle-label span::before {
  top: 10px;
}
.nav-toggle-label span::after {
  top: -10px;
}

.nav.scroll * label > span,
.nav.scroll * label > span::before,
.nav.scroll * label > span::after {
  background-color: white;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}

.nav.scroll * .nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent !important;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: rotate(135deg);
  top: 0px;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: rotate(-135deg);
  top: 0px;
}

/* Navigation Styles w/sub navigation dropdown and responsive toggles */
.navbar {
  background-color: var(--clr-accent);
  min-height: var(--nav-height);
  max-height: var(--nav-height);
  position: relative;
  z-index: 1001;
}
.navbar .nav {
  margin: 0;
  padding: 0;
  background-color: #3348bd;
  text-align: center;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.2s ease, opacity 250ms ease-out;
  transform-origin: top;
}
@media only screen and (min-width: 768px) {
  .navbar .nav {
    background: unset;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transform: scaleY(1);
    opacity: 1;
    position: static;
    width: auto;
  }
}
.navbar .nav-link {
  padding-block: 0;
  list-style: none;
  width: 100%;
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: var(--ls);
  border-bottom: solid #f2f2f2 1px;
  min-height: var(--nav-height);
}
@media only screen and (min-width: 768px) {
  .navbar .nav-link {
    padding-inline: 0.5rem;
    height: calc(60px / 2);
    line-height: calc(60px / 2);
    font-size: 1rem;
    width: auto;
    border: none;
  }
}
.navbar .nav-link a {
  padding-inline: 1rem;
  padding-block: 1rem;
  height: var(--nav-height);
  text-decoration: none;
  color: white;
  display: block;
}
.navbar .nav-link a:hover {
  background-color: var(--clr-primary-dark);
}

.hero .navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* Toggle States */
.toggle:checked ~ .subnav {
  transform: scaleY(1);
  opacity: 1;
  height: auto;
}

.nav-toggle:checked ~ .nav {
  transform: scaleY(1);
  opacity: 1;
  min-height: calc(100vh - 60px);
}

.footer {
  margin-block-start: auto;
  background-color: var(--clr-primary);
}
.footer a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: var(--fw-n);
}
.footer a:hover {
  color: var(--clr-accent);
}
.footer p {
  margin: 0;
  padding: 0;
}
.footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-social {
  font-size: 1.3rem;
}
.footer-social > * {
  display: flex;
  gap: 1rem;
}
.footer-title {
  font-family: var(--ff-sans-headings);
  margin: 0;
  margin-block-end: 1rem;
  padding: 0;
  font-size: 1rem;
}
.footer-about {
  text-align: center;
}
.footer .footer1 {
  margin-inline: auto;
  padding-block: 1em;
  font-size: 0.9rem;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  width: min(100% - var(--spacer), var(--max-width));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 0.5em;
  grid-auto-flow: dense;
}
.footer .footer1 > * {
  background-color: var(--clr-primary-light);
  padding: 0.5em;
  border-radius: var(--br);
}

.footer2 {
  width: 100%;
  background-color: var(--clr-primary-dark);
  color: var(--clr-white);
  padding-block: 0.5em;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.page__title {
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */
