.container__slider {
 margin-block-start: $spacer;
}
.slider {
 &__track-container {
  border-radius: $br;
  box-shadow   : $bs;
  position     : relative;
  overflow     : hidden;
 }

 &__track {
  margin    : 0;
  padding   : 0;
  width     : 100%;
  list-style: none;

  position: relative;

  display        : flex;
  justify-content: center;
  align-items    : center;

  transition: transform ease-in 250ms;
 }

 &__slide {
  position: absolute;
  width   : 100%; // has to be 100% to create slide
  top     : 0;
  bottom  : 0;

  &--inner {
   padding-block: calc($spacer * 2);
  
   h3 {
    font-size: 1.3rem;
    padding-inline: $spacer;
   }

   h4 {
    padding-inline: $spacer;
    font-size : 1rem;
    font-style: italic;

    font-weight: 300;
    line-height: 1.2;
   }

   p {
    margin-block-start: $spacer;
    margin-inline     : $spacer;
    line-height       : 1.3;
    font-size         : .9rem;
    font-weight       : 300;
   }
  }
 }

 &__button {
  display   : none;
  background: transparent;
  border    : 0;
  cursor    : pointer;
  box-shadow: none;
  color     : neutral(4);

  position : absolute;
  z-index  : 100;
  top      : 50%;
  transform: translateY(-50%);

  &--left {
   left: $spacer;
  }

  &--right {
   right: $spacer;
  }
 }

 &__nav {
  margin-block: (calc($spacer * 2));

  display        : flex;
  gap            : $spacer;
  justify-content: center;
  align-items    : center;
 }

 &__indicator {
  width        : 1em;
  height       : 1em;
  border       : 0;
  border-radius: 50%;
  background   : rgba(neutral(5), 0.3);

  cursor: pointer;

  &.current-slide {
   background: rgba(neutral(5), 0.75);
  }
 }
}

