.cards {
 list-style: none;

 display              : grid;
 grid-template-columns: 1fr;
 gap                  : $spacer;

 .card {
  background   : neutral(1);
  border       : solid 1px neutral(2);
  border-radius: $br;
  box-shadow   : $bs;


  &__image {
   max-width          : 250px;
   margin-inline-start: -$spacer;

   img {}
  }

  &__title {
   @include dc(neutral(2));
   padding    : $spacer;
   font-family: ff-sans-headings;
  }

  &__content {
   padding-inline: $spacer;

   display: flex;

  }

  &__text {
   padding-inline      : $spacer;
   padding-inline-start: 0;
  }
 }
}