.faqs {
 display: grid;
 gap    : $spacer;
}

details {
 box-shadow   : $bs;
 border-radius: $br;
 position     : relative;

 .summary-title {
  user-select: none;
  font-weight: $fw-b;
 }

 &:hover {
  cursor: pointer;
 }

 .summary-content {
  border-top : 1px solid neutral(2);
  cursor     : default;
  padding    : $spacer;
  font-weight: $fw-l;
 }

 summary {
  list-style           : none;
  padding-block        : calc($spacer / 2);
  padding-inline-start : calc($spacer /2);
  padding-inline-end: calc($spacer * 2);
 
  &:focus {
   outline: none;
  }

  &:hover .summary-chevron-up svg {
   opacity: 1;
  }
 }

 .summary-chevron-up svg {
  opacity: 0.5;
 }

 .summary-chevron-up,
 .summary-chevron-down {
  pointer-events: none;
  position      : absolute;
  top           : 0.75em;
  right         : $spacer;
  background    : neutral(1);

  svg {
   display: block;
  }
 }

 summary::-webkit-details-marker {
  display: none;
 }
}