 // Image Element
 .imageElement {
  padding-block : calc($spacer * 4);
  padding-inline: calc($spacer * 2);
  @include dc(neutral(2));
  column-gap: 1.5em;
  row-gap   : $spacer;
  position  : relative;

  &__image {
   display        : flex;
   justify-content: center;
  }

  img {
   aspect-ratio : 1/1;
   object-fit   : cover;
   border-radius: $br;
   box-shadow   : $bs;
  }

  .element__content {
   margin-block-start: $spacer;
   margin-block-end  : $spacer;
   background-color  : inherit;
  }
 }