.resources {
 @include word-wrap();

 &.flex-two-columns {
  gap: 0;
 }

 &__sidebar {
  display       : none;
  padding-block : $spacer;
  padding-inline: $spacer;

  @include mq(small) {
   display  : block;
   max-width: max-content;

   &-ul {
    display : grid;
    gap     : calc($spacer / 2);
    position: sticky;
    top     : $spacer;
   }

   &-li {
    list-style: none;
   }

   &-link {
    text-decoration: none;
    padding-inline : $spacer;
    padding-block  : calc($spacer / 4);
    font-weight    : $fw-m;
    border-radius  : $br;
    @include dc(neutral(5));
    display   : block;
    transition: all ease-in-out 250ms;

    &:hover,
    &:focus {
     @include dc(color(accent-light));
    }
   }
  }
 }

 &__content {
  @include dc(neutral(1));
  padding-inline-start: $spacer;

  ul {
   list-style         : none;
   list-style-position: inside;

   >li+li {
    padding-block-start: calc($spacer * .5);
   }

   li:last-of-type {
    padding-block-end: $spacer;
   }

   a {
    color   : neutral(4);
    position: relative;

    &:hover,
    &:focus {
     color: color(accent);
    }

    &::after {
     content             : "\f08e";
     font-family         : "Font Awesome 5 Free";
     font-weight         : 900;
     padding-inline-start: 10px;

     position: absolute;
    }

    &:visited {
     color: color(accent-light);
    }
   }
  }

  &-title {
   margin-block-start: $spacer;
   margin-block-end  : calc($spacer * .5);
  }
 }
}