.service {
 @include dc(neutral(1));
 padding            : $spacer;
 border-bottom-width: 4px;
 border-bottom-style: solid;
 border-bottom-color: rgba(color(accent), .75);
 box-shadow         : $bs;
 border-radius      : $br;
 display            : flex;
 gap                : $spacer;
 position           : relative;

 .element__title {
  color         : color(primary);
  text-transform: capitalize;
  font-weight   : $fw-m;
  line-height   : 1;
 }

 &__content {
  padding-inline-start: $spacer * 1;

  p {
   line-height       : 1.2;
   margin-block-start: $spacer;
   color             : neutral(4);
   font-size         : .9rem;
  }
 }

 &__icon {
  display        : flex;
  align-items    : center;
  justify-content: center;
  transform      : rotate(45deg);
  color          : rgba(color(primary), .05);
  position       : absolute;
  left           : calc($spacer / 5);
  top            : calc($spacer / 5);
  font-size      : 2em;

  .fas {
   transform: rotate(-45deg);
  }
 }
}