// Extract RGB values from variables in scss to be used in css variables
// https://www.techhive.io/our-insights/how-to-use-css-variables-with-sass-mixins

// How to use in CSS Variables

// :root {  
//  --color: #{$color};
// }

@function hexToRGB($hex) {
  @return red($hex),
  green($hex),
  blue($hex);
}


// Underline divider
@mixin underline($bg: currentColor, $margin: $spacer, $height: 1px, $width: 25%) {
  &::after {
    content   : '';
    display   : block; 
    margin    : $margin auto;
    background: $bg;
    height    : $height;
    width     : $width;
    @content;
  }
}

// Media Queries
@mixin mq($size) {
  $value: map-get($breakpoints, $size);

  @media only screen and (min-width: $value) {
    @content;
  }
}

@mixin limit-width() {
  max-width: 450px;
  // margin   : 0 auto;
  @content;

}

@mixin grid($cols: 3) {
  display  : grid;
  grid     : auto-flow / repeat($cols, 1fr);
  gap      : 1rem;
  max-width: 1200px;
}

// Dynamic Colors
@mixin dc($color) {
  background-color: $color;
  color     : dynamic-color($color);
}


@mixin underline($bg: currentColor, $margin: $spacer, $height: 1px, $width: 25%) {
  &::after {
    content   : '';
    display   : block;
    margin    : $margin auto;
    background: $bg;
    background: linear-gradient(left, $bg 0%,$bg 10%,$bg 50%,$bg 90%,$bg 100%);
    height    : $height;
    width     : $width;
    @content; 
  }


  hr {
    border: 0;
    height: 2px;
    // margin:18px 0;
    position:relative;
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
}

hr:before {
    content: "";
    display: block;
    border-top: solid 1px #f9f9f9;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}
}