<footer class="footer">

    <div class="container">
        <div class="footer1">

            <div class="footer-nav">
                <nav class="nav-footer">
                    <h5>Navigation</h5>
                    <ul class="nav-footer__nav">
                        {# This example footer nav does not display drop down nav links #}
                        {% for navItem in getNavigator('footer') %}
                        <li class="{% if navItem.currentPage %}active{% endif %}">
                            <a href="{{ getNavigationLink(navItem) }}">{{ navItem.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            {% if site.settings.footerAbout %}
            <div class="footer-about">
                <h5>About {{ site.settings.siteName|default('Piton<span>CMS</span>') }}</h5>
                {{ site.settings.footerAbout|nl2br}}
            </div>
            {% endif %}

            <div class="footer-social">
          
                {{ include("includes/_social.html") }}
            </div>

            <div class="footer-address">

                {% if site.settings.contactAddress %}
                <h5>Address</h5>
                {{ site.settings.contactAddress|nl2br}}
                {% endif %}

                {% if site.settings.contactPhone %}
                <h5>Phone</h5>
                <a href="tel:{{site.settings.contactPhone}}"> {{ site.settings.contactPhone }}</a>

                {% endif %}
            </div>

        </div>
    </div>

    <div class="footer2">

        <p>{{ site.settings.siteName|default('Piton<span>CMS</span>') }} &copy; 2018 - {{ "now"|date('Y') }}</p>
        {% if site.settings.footerAuthor %}
        <p>Built with
            <a href="http://pitoncms.com" target="_blank">PitonCMS </a> by <a
                href="{{ site.settings.footerAuthorURL }} " target="_blank">{{
                site.settings.footerAuthor }}</a>
        </p>
        {% endif %}

    </div>
</footer>