<div class="header-wrapper">
  <header class="header">
    <div class="logo">
      <a class="header__link styled-link" href="{{ pathFor('home') }}">
        <img
          src="{{ baseUrl() }}/assets/img/tkg1.svg"
          width="100%"
          height="100%"
          alt="TK Green Home Inspection Services" />
      </a>
    </div>

    <div class="header__phone">
      <i class="fas fa-phone" style="display: inline-block"></i>
      <a class="header__link styled-link" href="tel:{{site.settings.contactPhone}}">
        {{ site.settings.contactPhone }}
      </a>
    </div>

    <div class="header__location"><i class="fa-solid fa-location-dot"></i> Honolulu, Hawaii</div>

    {{ include("includes/_social.html") }}

    <a class="btn btn__header styled-link" href="/{{ site.settings.ctaURL }}" target="_self">Schedule Now</a>
  </header>

  {{ include("includes/_navbar.html") }}
</div>
