<header class="header">

  <div class="logo">

    <h1 class="logo">
      <a href="{{ pathFor('home') }}">
        {{ site.settings.siteName|default('Piton<span>CMS</span>') }}
      </a>
    </h1>
  </div>

  <div class="phone">
    <i class="fas fa-phone" style="display: inline-block"></i> 
    <a href="tel:{{site.settings.contactPhone}}"> {{ site.settings.contactPhone }}</a>
  </div>

  <div class="location">
    <i class="fa-solid fa-location-dot"></i> Honolulu, Hawaii
  </div>

  {{ include("includes/_social.html") }}

  <div class="contact"> 
    <a href="/{{ site.settings.ctaURL }}" class="btn">Schedule Now</a>
  </div>

</header>