<div class="socialLinks">

    {% if site.settings.facebookLink %}
    <a class="socialLinks__link" href="{{ site.settings.facebookLink }}"><i role="button" class="social-icon fab fa-facebook"></i></a>
    {% endif %}

    {% if site.settings.linkedInLink %}
    <a class="socialLinks__link" href="{{ site.settings.linkedInLink }}"><i role="button" class="social-icon fab fa-linkedin"></i></a>
    {% endif %}

    {% if site.settings.twitterLink %}
    <a class="socialLinks__link" href="/{{ site.settings.twitterLink }}"><i role="button" class="social-icon fab fa-twitter"></i></a>
    {% endif %}
    {% if site.settings.instagramLink %}
    <a class="socialLinks__link" href="/{{ site.settings.instagramLink }}"><i role="button" class="social-icon fab fa-instagram"></i></a>
    {% endif %}
    {% if site.settings.pinterestLink %}
    <a class="socialLinks__link" href="/{{ site.settings.pinterestLink }}"><i role="button" class="social-icon fab fa-pinterest"></i></a>
    {% endif %}
    {% if site.settings.ctaURL %}
    <a class="socialLinks__link" href="/{{ site.settings.ctaURL }}"><i role="button" class="social-icon fa-solid fa-envelope"></i></a>
    {% endif %}

</div>