.badge {
 padding-block: calc($spacer * 2) !important;
 background-color: color(primary) !important;
 border-radius: $br;

 display        : flex;
 flex-flow      : row nowrap;
 justify-content: center;

 img {
  width: 100%;

 }

}