// Utilities

.span {
    grid-column: 1 / -1;
    // @include dc(green);
}

.text-small {
    font-size  : .8rem;
    font-weight: $fw-l;
}

.text-danger {
    color      : $clr-red;
    font-weight: $fw-b;
    font-size  : 1.25rem;
}

.text-muted {
    background-color: neutral(1);
    color           : neutral(3);
    font-weight     : $fw-l;
    line-height: 1.3;
    font-size: .9rem;
    font-family: $ff-sans-headings;
}

.text-italic {
font-style: italic;
}

inline-text {
    display: inline-block;
}