 // Image Element
 .imageElement {

   img {
     aspect-ratio : 16 / 9;
     object-fit   : cover;
     min-height   : 100%;
     border-radius: $br;
     box-shadow   : $bs;
      margin-block-end: $spacer;
   }

   &__content {
     margin-block-start: $spacer;
   }

   .element__content {
     margin-block-end: $spacer;

   }
 }