.militaryElement {
    &__image {
        width   : min(100%, $wide-container-width);
        z-index      : -1;
        border-radius: $br;
        box-shadow   : $bs;
        overflow     : hidden;

        img {
            width   : min(100%, $wide-container-width);
            min-height: 100%;
            aspect-ratio: 16/9;
            object-fit  : cover;
        }
    }

    &__content {
        padding         : calc($spacer * 2);
        align-self      : center;
        justify-self    : center;
        width           : min(100%, $narrow-container-width);
        background-color: rgba(neutral(1), .35);
        border-radius   : $br;
        box-shadow      : $bs;
    }

}