.service {
    @include dc(neutral(1));
    padding      : $spacer;
    border-radius: $br;
    box-shadow   : $bs;

    &__icon {

        height            : 4.5em;
        width             : 4.5em;
        border-radius     : calc($br * 2);
        margin-inline     : auto;
        margin-block-start: calc($spacer * 1.5);
        margin-block-end  : calc($spacer * 2);
        display           : flex;
        align-items       : center;
        justify-content   : center;
        transform         : rotate(45deg);
        background-color  : color(primary-lighter);
        color             : color(primary-light);
        border            : color(primary-light) 1px solid;

        .fas {
            transform: rotate(-45deg);
        }
    }
}