.testimonials {

    .element__title,
    .element__content {
        grid-column: 1 / -1;
    }
}

.testimonial {
   

    box-shadow: $bs-4;
    @include dc(neutral(1));
    width        : 100%;
    border-radius: $br;
    overflow     : hidden;
    margin-bottom: $spacer;

    display       : flex;
    flex-direction: column;

    position: relative;

    img {
        aspect-ratio: 16 / 9;
        object-fit  : cover;
    }

    &__body {
      

        padding-inline     : calc($spacer / 2);
        padding-block-start: $spacer;
        padding-block-end  : calc($spacer * 2);
        height             : 100%;

        >*+* {
            margin-block-start: $spacer;

        }
    }

    &__credit {
        margin-block-start: auto;
        padding           : $spacer;
        @include dc(neutral(2));
        text-align: center;
   

    }

    &__name {
        font-weight: $fw-n;
        color      : neutral(3);

        margin                   : 0;
        @include underline($margin: .5em, $width: 20%, $bg: rgba(neutral(3), .25));
        line-height               : 1;
        line-height               : 1;
    }

    &__date {
        font-weight   : $fw-l;
        font-size     : .8rem;
        color         : neutral(4);
        margin     : 0;
        line-height   : 1;
    }
}