{% extends 'pages/_base_layout.html' %}

{% block body %}
<section class="section grid-section section--systemBlock">

<div id="{{element.settings.imageID}}" class="imageElement flex-two-columns">

 <figure class="imageElement__image">
  {{ getMediaSrcSet(page.media.filename, page.media.caption, {'sizes': '(min-width: 1020px) 926px, 93.43vw'}) }}
 </figure>

 <div class="imageElement__content">
  
   <div class="element__content">
    {{ getBlockElementsHtml(page.blocks.systemBlock) }}
    <button class="btn btn__back" onclick="history.back()">Go Back</button>
   </div>

 </div>
</div>




 

 
  

</section>

{% endblock body %}