.span {
    grid-column: 1 / -1;
}
.text-small {
    font-size: .8rem;
    font-weight: $fw-l;
}

.text-danger {
    color: $clr-red;
    font-weight: $fw-b;
    font-size: 1.25rem;
}

.text-muted {
    background-color: neutral(1);
    color           : neutral(3);
    font-weight: $fw-l;
}