// About Us Element Page

.about-wrapper {
    // padding-inline: $spacer;
    display          : grid;
    gap           : $spacer * 2;

}

.switcher {
    display         : flex;
    gap             : $spacer;
    flex-wrap       : wrap;

    &:nth-child(even){
        flex-direction: row-reverse;
        margin-block-end: $spacer;
    }

    &:nth-child(2){
        flex: 2;
    }

    >* {
        flex-grow : 1;
        flex-basis: calc((30rem - 100%) * 999);
    }

    &__image {
        img{
            width: 100%;
            object-fit: cover;
            aspect-ratio: 3 /4;
            box-shadow: $bs;
            border-radius: $br;
        }
        .figcaption__name {
            font-size: .75rem;
            color: neutral(3);
            font-style: italic;
        }
        
    }
}

.switcher .switcher> :nth-last-child(n+ 3),
.switcher> :nth-last-child(n+ 3)~* {
    flex-basis: 100%;
}