// About Us Element Page

.about-wrapper {
    display: grid;
    gap    : $spacer * 2;

    .switcher:not(:last-of-type) {
        position: relative;

        @include underline($margin: 0.5em, $width: 40%) {
            opacity: .25;

            position : absolute;
            bottom   : -$spacer;
            left     : 50%;
            transform: translateX(-50%);
            color    : neutral(3);

        }
    }
}