{% extends 'pages/_base_layout.html' %}
{% block navbar %}
{{ include('includes/_navbar.html') }}

{% endblock navbar %}

{% block body %}

  <section class="section grid-section">
    {{ getBlockElementsHtml(page.blocks.contentBlock) }}
  </section>

  {% if page.blocks.contentBlock1 %}
  <section class="section grid-section">
    {{ getBlockElementsHtml(page.blocks.contentBlock1) }}
  </section>
  {% endif %} 

  {% if page.blocks.contentBlock2 %}
  <section class="section grid-section">
    {{ getBlockElementsHtml(page.blocks.contentBlock2) }}
  </section>
  {% endif %} 

{% endblock body %}