{% extends 'pages/_base_layout.html' %} 

{% block navbar %} 
{{ include('includes/_navbar.html') }} 
{% endblock navbar %}

{# {% block hero %}
{{ getBlockElementsHtml(page.blocks.heroBlock) }}
{% endblock hero %} #}

{% block body %} 
{% if page.blocks.textBlock %}
  <section class="section grid-section section--textBlock">{{ getBlockElementsHtml(page.blocks.textBlock) }}</section>
  {% endif %}

  {% if page.blocks.embeddedBlock %}
  <section class="section grid-section section--embeddedBlock">
    {{ getBlockElementsHtml(page.blocks.embeddedBlock) }}
  </section>
  {% endif %} 
  
  {% if page.blocks.galleryBlock %}
<section class="section grid-section section--galleryBlock">
  {{ getBlockElementsHtml(page.blocks.galleryBlock) }}
</section>
{% endif %}

{% if page.blocks.contactBlock %}
<section class="section grid-section section--contactBlock">
  {{ getBlockElementsHtml(page.blocks.contactBlock) }}
</section>
{% endif %} 

{% if page.blocks.imageBlock %}
<section class="section grid-section section--imageBlock">
 {% if page.blocks.elementHeaderImageBlock %}
 {{ getBlockElementsHtml(page.blocks.elementHeaderImageBlock) }}
 {% endif %}
 {{ getBlockElementsHtml(page.blocks.imageBlock) }}
</section>
{% endif %} 

{% if page.blocks.carouselBlock %}
<section class="section grid-section section--carouselBlock">

 {% if page.blocks.elementHeaderCarouselBlock %}
 {{ getBlockElementsHtml(page.blocks.elementHeaderCarouselBlock) }}
 {% endif %}

 <div class="container__slider">
   <div class="slider">
     <div class="slider__track-container">
       <ul class="slider__track">
             {{ getBlockElementsHtml(page.blocks.carouselBlock) }}
       </ul>
     </div>
     
     <div class="slider__nav">
      {% for e in page.blocks.carouselBlock %}
       <button class="slider__indicator {% if loop.index==1 %}current-slide{% endif %}"></button>
   {% endfor %}
     </div>

   </div>
 </div>

</section>
{% endif %}

{% if page.blocks.collectionBlock %}
<section class="section grid-section section--collectionBlock">
 {{ getBlockElementsHtml(page.blocks.collectionBlock) }}
</section>
{% endif %} 

{% endblock body %}