{# FAQ Template Page #} {% extends 'pages/_base_layout.html' %} {% block navbar %} {{ include('includes/_navbar.html')
}} {% endblock navbar %} {% block body %}
<base target="_blank">

<section id="faqs" class="section grid-section section--faqBlock">
 {% if page.blocks.elementHeaderFaqsBlock %} 
 {{ getBlockElementsHtml(page.blocks.elementHeaderFaqsBlock) }}
 {% endif %}


  <div class="faqs">
   {{ getBlockElementsHtml(page.blocks.faqsBlock) }}
  </div>
</section>

<section class="section grid-section section--resourceBlock" id="resources">
  {% if page.blocks.elementHeaderResourcesBlock %} 
  {{ getBlockElementsHtml(page.blocks.elementHeaderResourcesBlock) }}
  {% endif %}

  <div class="resources flex-two-columns">
    <div class="resources__sidebar">
      <ul class="resources__sidebar-ul">
        {% for c in page.blocks.resourcesBlock %}
        <li class="resources__sidebar-li">
          {# Loop the element titles here #}
          <a class="resources__sidebar-link" href="#{{ c.title }}" target="_self"> {{ c.title }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="resources__content">
    {{ getBlockElementsHtml(page.blocks.resourcesBlock) }}
    </div>

  </div>

 </section>

{% endblock body %}
