{# Your Inspection Template Page #}

{% extends 'pages/_base_layout.html' %}

{% block navbar %}

{{ include('includes/_navbar.html') }}

{% endblock navbar %}




{% block body %}

<section class="section grid-section section--inspectionBlock">

  <h2 class="element__title">{{ page.title }}</h2>

  <div class="inspection">
    {{ getBlockElementsHtml(page.blocks.inspectionBlock) }}
  </div>
</section>


{% if page.blocks.componentsBlock %}
<section class="section grid-section section--componentsBlock">

  {% if page.blocks.elementHeaderComponentsBlock %}
  {{ getBlockElementsHtml(page.blocks.elementHeaderComponentsBlock) }}
  {% endif %}

  <div class="grid-">
    {{ getBlockElementsHtml(page.blocks.componentsBlock) }}
  </div>

</section>
{% endif %}

{% if page.blocks.documentsBlock %}
<section class="section grid-section section--documentsBlock">

  {% if page.blocks.elementHeaderDocumentsBlock %}
  {{ getBlockElementsHtml(page.blocks.elementHeaderDocumentsBlock) }}
  {% endif %}

  <div class="grid-">
    {{ getBlockElementsHtml(page.blocks.documentsBlock) }}
  </div>

</section>
{% endif %}

{% endblock body %}